[submodule "py-timeout-utils"]
	path = py-timeout
	url = https://github.com/AndrewEC/py-timeout.git
[submodule "py-build-utils"]
	path = py-build-utils
	url = https://github.com/AndrewEC/py-build-utils.git
